<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container" style="background-image: url(/public/img/commercial/commercial-banner.png);">
      <div class="title">Commercial</div>
    </section>
    <section class="commercial-container pc center">
      <ul class="commercial-list">
        <li class="commercial-item">
          <div class="title">this is title</div>
          <div class="cont">
            <img src="/public/img/commercial/commercial-below-30kw-3.jpg" alt="">
            <div class="text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, veniam! Ipsam rem similique
                molestias voluptatum?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus nemo tempora aspernatur
                blanditiis vitae ullam corrupti id temporibus quasi laborum pariatur distinctio error, dignissimos
                provident, mollitia sit impedit praesentium.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, veniam! Ipsam rem similique
                molestias voluptatum?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus nemo tempora aspernatur
                blanditiis vitae ullam corrupti id temporibus quasi laborum pariatur distinctio error, dignissimos
                provident, mollitia sit impedit praesentium.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
            </div>
          </div>
        </li>
        <li class="commercial-item">
          <div class="title">this is title</div>
          <div class="cont">
            <img src="/public/img/commercial/commercial-30-100kw.jpg" alt="">
            <div class="text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, veniam! Ipsam rem similique
                molestias voluptatum?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus nemo tempora aspernatur
                blanditiis vitae ullam corrupti id temporibus quasi laborum pariatur distinctio error, dignissimos
                provident, mollitia sit impedit praesentium.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="contact">
        <a href="contact.html">
          Contact Us for More Information
        </a>
      </div>
    </section>
    <section class="commercial-container m center">
      <ul class="commercial-list">
        <li class="commercial-item">
          <div class="title">this is title</div>
          <div class="cont">
            <img src="/public/img/commercial/commercial-below-30kw-3.jpg" alt="">
            <div class="hover">Show Text</div>
            <div class="close iconfont icon-close"></div>
            <div class="text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, veniam! Ipsam rem similique
                molestias voluptatum?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus nemo tempora aspernatur
                blanditiis vitae ullam corrupti id temporibus quasi laborum pariatur distinctio error, dignissimos
                provident, mollitia sit impedit praesentium.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
            </div>
          </div>
        </li>
        <li class="commercial-item">
          <div class="title">this is title</div>
          <div class="cont">
            <img src="/public/img/commercial/commercial-30-100kw.jpg" alt="">
            <div class="hover">Show Text</div>
            <div class="close iconfont icon-close"></div>
            <div class="text">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, veniam! Ipsam rem similique
                molestias voluptatum?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus nemo tempora aspernatur
                blanditiis vitae ullam corrupti id temporibus quasi laborum pariatur distinctio error, dignissimos
                provident, mollitia sit impedit praesentium.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="contact">
        <a href="contact.html">
          Contact Us for More Information
        </a>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>