<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <h1 class="title wow fadeInUp">EverySolar 2.0 offers
      <img src="/public/img/monitoring/logo-white.png" alt="">
    </h1>
    <section class="module01-container module center">
      <img class="logo" src="/public/img/monitoring/logo.png" alt="">
      <div class="info-container">
        <div class="left-layout wow fadeInLeft">
          <img src="/public/img/monitoring/solar.png" alt="">
        </div>
        <div class="right-layout wow fadeInRight">
          <div class="title">Get more from your solar</div>
          <div class="note">
            Solar Analytics?smart solar software delivers you more value from your solar system. Everything you need in
            a simple view to give you more confidence in your system, more savings and more insights.
          </div>
        </div>
      </div>
    </section>
    <section class="need-container">
      <ul class="need-list">
        <li class="need-item title">
          <div class="title wow fadeInUp">Everything you need</div>
        </li>
        <li class="need-item wow fadeInUp">
          <div class="icon">
            <img src="/public/img/monitoring/icon1.png" alt="">
          </div>
          <div class="text">
            <div class="title">True Performance monitoring</div>
            <div class="desc">See if your solar is performing as it should, and if it's not, Solar Analytics will let
              you know.</div>
          </div>
        </li>
        <li class="need-item wow fadeInUp">
          <div class="icon">
            <img src="/public/img/monitoring/icon2.png" alt="">
          </div>
          <div class="text">
            <div class="title">Battery Calculator</div>
            <div class="desc">Choose the right time and the right battery for you.</div>
          </div>
        </li>
        <li class="need-item wow fadeInUp">
          <div class="icon">
            <img src="/public/img/monitoring/icon3.png" alt="">
          </div>
          <div class="text">
            <div class="title">Energy Insights</div>
            <div class="desc">Full visibility over your energy usage and when to best use your solar.</div>
          </div>
        </li>
        <li class="need-item wow fadeInUp">
          <div class="icon">
            <img src="/public/img/monitoring/icon4.png" alt="">
          </div>
          <div class="text">
            <div class="title">Plan Optimiser</div>
            <div class="desc">Take the guesswork out of saving on energy bills.</div>
          </div>
        </li>
        <li class="need-item wow fadeInUp">
          <div class="icon">
            <img src="/public/img/monitoring/icon5.png" alt="">
          </div>
          <div class="text">
            <div class="title">Savings Analysis</div>
            <div class="desc">Watch your savings grow with the most accurate savings calculations.</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="img-text-container">
      <ul class="img-text-list">
        <li class="img-text-item">
          <div class="left-layout wow fadeInRight">
            <img src="/public/img/monitoring/img1.png" alt="">
          </div>
          <div class="right-layout wow fadeInLeft">
            <div class="title">True Performance</div>
            <div class="cont">
              <p>
                Solar Analytics patented algorithms calculate exactly how much energy you should be producing every day
                of the year.
              </p>
              <p>
                They constantly monitor and analyse to let you and us know when your solar system isn't performing at
                its
                peak.
              </p>
              <p>
                Improved performance, faster fault rectification and more uptime mean greater solar savings and faster
                payback.
              </p>
            </div>
          </div>
        </li>
        <li class="img-text-item">
          <div class="left-layout wow fadeInLeft">
            <img src="/public/img/monitoring/img2.png" alt="">
          </div>
          <div class="right-layout wow fadeInRight">
            <div class="title">Plan Optimiser</div>
            <div class="cont">
              <p>
                Uses your actual household solar and energy data to compare the best available energy plans currently on
                the market and highlights the best plan for you.
              </p>
              <p>
                Automatically updates new plans on offer and regularly recalculates your potential savings.
              </p>
              <p>
                This allows you to know you're always on the best energy plan.
              </p>
              <p>
                No assumptions, just clear comparisons.
              </p>
            </div>
          </div>
        </li>
        <li class="img-text-item">
          <div class="left-layout wow fadeInRight">
            <img src="/public/img/monitoring/img3.png" alt="">
          </div>
          <div class="right-layout wow fadeInLeft">
            <div class="title">Savings Insights</div>
            <div class="cont">
              <p>
                Solar Analytics translate all your kWh into dollars so you can see exactly how much savings your system
                is delivering right from day one.
              </p>
              <p>
                Easily track the payback of your investment from your solar savings.
              </p>
              <p>
                See how the various costs and credits of your plan add up to help you anticipate your electricity bill.
              </p>
              <p>
                Know when it is the right time for you to make the investment in a battery.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="video-container">
      <ul class="video-list">
        <li class="video-item">
          <div class="title wow fadeInUp">Solar Analytics Dashboard</div>
          <iframe class="video wow fadeInUp" src="https://www.youtube.com/watch?v=vYtPuIW7DBk&ab_channel=SolarAnalytics"
            frameborder="0"></iframe>
        </li>
        <li class="video-item">
          <div class="title wow fadeInUp">Discover Plan Optimiser</div>
          <iframe class="video wow fadeInUp" src="https://www.youtube.com/watch?v=40fgmhSbxdo&ab_channel=SolarAnalytics"
            frameborder="0"></iframe>
        </li>
      </ul>
    </section>
    <section class="contact-container">
      <div class="title wow fadeInUp">
        Contact us now to get more from your solar!
      </div>
      <div class="btns">
        <a href="" class="wow fadeInUp">Get A Quote</a>
        <a href="" class="on wow fadeInUp">Contact Us</a>
      </div>
    </section>
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>