<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/tesla/banner-tesla.jpg" alt="">
    </section>
    <section class="cont1-container module">
      <div class="title">Backup Power for your home & business</div>
      <div class="line"></div>
      <div class="desc">
        Powerwall is a home battery system that turns your home’s solar panels into an all day resource – increasing
        self-consumption of solar – while also offering backup in the event of an outage. Powerwall enables more of your
        home’s electricity use to come from solar, which enhances solar functionality and reduces energy costs.
      </div>
      <div class="content">
        <img src="/public/img/tesla/tesla1.jpg" alt="">
        <img src="/public/img/tesla/tesla2.jpg" alt="">
      </div>
    </section>
    <section class="cont2-container">
      <div class="left-img">
        <img src="/public/img/tesla/tesla3.png" alt="">
      </div>
      <div class="right-text">
        <div class="title">Taking control of your energy solution</div>
        <div class="content">
          <p>Enjoy energy savings with EverysSolar 2.0 and manage your system from anywhere in the world with 24/7
            mobile monitoring.</p>
          <p>Powerwall integrates with solar to store excess energy generated during the day and makes it available when
            you need it, minimising reliance on the grid.</p>
        </div>
        <a href="" class="contact">Contact Us</a>
      </div>
    </section>
    <section class="cont3-container module">
      <div class="title">Why Choose EverySolar 2.0</div>
      <div class="line"></div>
      <div class="content">
        <div class="left-text">
          We are one of the few authorised Tesla Powerwall Certified installer in South East Queensland. With years of solar industry experiences, we will make your solar system work with Powerwall seamlessly.
        </div>
        <div class="right-img">
          <img src="/public/img/tesla/tesla4.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="cont4-container">
      <div class="title">Powerwall Specification</div>
      <div class="content">
        <div class="left-img">
          <img src="/public/img/tesla/tesla5.png" alt="">
        </div>
        <div class="right-params">
          <ul class="params-list">
            <li>Usable Capacity:</li>
            <li>13.5 kWh</li>
          </ul>
          <ul class="params-list">
            <li>Weight:</li>
            <li>114 kg</li>
          </ul>
          <ul class="params-list">
            <li>Depth of Discharge:</li>
            <li>100%</li>
          </ul>
          <ul class="params-list">
            <li>Operating Temperature:</li>
            <li>-4°F to 122°F / -20°C to 50°C</li>
          </ul>
          <ul class="params-list">
            <li>Efficiency: </li>
            <li>90% round-trip</li>
          </ul>
          <ul class="params-list">
            <li>Dimensions:</li>
            <li>L x W x D: (1150 mm x 753 mm x 147 mm)</li>
          </ul>
          <ul class="params-list">
            <li>Power:</li>
            <li>7kW peak / 5kW continuous</li>
          </ul>
          <ul class="params-list">
            <li>Installation:</li>
            <li>Floor or wall mounted, Indoor or outdoor</li>
          </ul>
          <ul class="params-list">
            <li>Scalable:</li>
            <li>Up to 10 Powerwalls</li>
          </ul>
          <ul class="params-list">
            <li>Certification:</li>
            <li>International Standards Grid code compliant</li>
          </ul>
          <ul class="params-list">
            <li>Warranty:</li>
            <li>10 years</li>
          </ul>
          <ul class="params-list">
            <li>Supported Applications:</li>
            <li>Solar self-consumption, Back-up power, Time-Based control Off-grid capabilities</li>
          </ul>
        </div>
      </div>
    </section>
    <div class="img">
      <img src="/public/img/tesla/tesla6.jpg" alt="">
    </div>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>