<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <h1 class="title">EverySolar 2.0 offers Brighte,</h1>
    <section class="module01-container module center">
      <img class="logo" src="/public/img/payment/green-logo.png" alt="">
      <div class="title">Welcome to the Brighte Green Loan</div>
      <div class="cont">
        <p>The Brighte Green Loan is a fixed interest rate, structured the same way as a personal loan, and is used to
          finance energy efficient products such as solar, batteries, solar hot water, and solar heating and cooling.
        </p>
      </div>
      <div class="title">About the Brighte Green Loan</div>
      <ul class="module01-list">
        <li class="module01-item">
          <div class="img">
            <img src="/public/img/payment/payment1.png" alt="">
          </div>
          <p>A fixed interest rate</p>
        </li>
        <li class="module01-item">
          <div class="img">
            <img src="/public/img/payment/payment2.png" alt="">
          </div>
          <p>Fund purchases between<br>$1k to $30K</p>
        </li>
        <li class="module01-item">
          <div class="img">
            <img src="/public/img/payment/payment3.png" alt="">
          </div>
          <p>Repay over 2 to 7 years</p>
        </li>
        <li class="module01-item">
          <div class="img">
            <img src="/public/img/payment/payment4.png" alt="">
          </div>
          <p>Make additional repayments</p>
        </li>
      </ul>
    </section>
    <section class="module04-container module green">
      <div class="title">Am I eligible to apply for a Brighte Green Loan?</div>
      <div class="subtitle">To be eligible to apply you must:</div>
      <ul class="icon-list center">
        <li class="icon-item">
          <div class="icon">
            <img src="/public/img/payment/payment-icon-01.png" alt="">
          </div>
          <p>Be over 18 years old and an Australian resident or citizen</p>
        </li>
        <li class="icon-item">
          <div class="icon">
            <img src="/public/img/payment/payment-icon-02.png" alt="">
          </div>
          <p>Own or be purchasing a home</p>
        </li>
        <li class="icon-item">
          <div class="icon">
            <img src="/public/img/payment/payment-icon-03.png" alt="">
          </div>
          <p>Be employed, self-employed, a self-funded retiree; or is receiving the Government Age Pension</p>
        </li>
        <li class="icon-item">
          <div class="icon">
            <img src="/public/img/payment/payment-icon-04.png" alt="">
          </div>
          <p>Have an Australian driver’s license or Passport or Medicare Card</p>
        </li>
        <li class="icon-item">
          <div class="icon">
            <img src="/public/img/payment/payment-icon-05.png" alt="">
          </div>
          <p>Provide two most recent payslips or 90 days of bank statements</p>
        </li>
      </ul>
    </section>
    <section class="module03-container module center">
      <div class="title">What are the Brighte Green Loan fees & charges*?</div>
      <div class="cont">
        <p>
          For more information on the Brighte Green Loan fees and charges visit:
        </p>
        <p>
          <a href="https://brighte.com.au/homeowners/green-loan/">https://brighte.com.au/homeowners/green-loan/</a>
        </p>
        <p>
          <br>
        </p>
        <p>
          *Credit provided by Brighte Capital Pty Ltd (ABN 74 609 165 906). Australian Credit License Number
        </p>
        <p>
          508217. All applications are subject to Brighte’s credit approval criteria. Fees, terms and conditions apply.
        </p>
        <p>
          For more information on current interest rates, fees and charges visit:
        </p>
        <p>
          <a href="https://brighte.com.au/homeowners/green-loan/">https://brighte.com.au/homeowners/green-loan/</a>
        </p>
      </div>
    </section>
    <section class="module02-container module green">
      <div class="title">How it works</div>
      <ul class="module02-list center">
        <li class="module02-item">
          <div class="num">1</div>
          <div class="text">Decide on your purchase!</div>
        </li>
        <li class="module02-item">
          <div class="num">2</div>
          <div class="text">We refer you for the Brighte Green Loan: Brighte will be in contact with how to complete
            your application online.</div>
        </li>
        <li class="module02-item">
          <div class="num">3</div>
          <div class="text">Complete your application: Once you provide the required documents, you receive an outcome
            within 1 – 3 business days.</div>
        </li>
        <li class="module02-item">
          <div class="num">4</div>
          <div class="text">We complete the job.</div>
        </li>
        <li class="module02-item">
          <div class="num">5</div>
          <div class="text">Once the job is complete your Brighte Green Loan repayments begin in 28 days!</div>
        </li>
      </ul>
    </section>
    <section class="module04-container module green">
      <p class="p1 title">THAT IS IT!</p>
      <p class="p2 title">Talk to us today about the Brighte Green Loan</p>
    </section>
     <!-- 引入公共页尾 -->
     <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>