<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="panels-container">
      <ul class="panels-list center">
        <li class="panel-item">
          <div class="img wow fadeInLeft">
            <img src="/public/img/panels/panels-1.png" alt="">
          </div>
          <div class="text wow fadeInRight">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
        </li>
        <li class="panel-item">
          <div class="text wow fadeInLeft">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
          <div class="img  wow fadeInRight">
            <img src="/public/img/panels/panels-2.png" alt="">
          </div>

        </li>
        <li class="panel-item">
          <div class="img wow fadeInLeft">
            <img src="/public/img/panels/panels-3.png" alt="">
          </div>
          <div class="text wow fadeInRight">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
        </li>
        <li class="panel-item">
          <div class="text wow fadeInLeft">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
          <div class="img  wow fadeInRight">
            <img src="/public/img/panels/panels-4.png" alt="">
          </div>

        </li>
        <li class="panel-item">
          <div class="img wow fadeInLeft">
            <img src="/public/img/panels/panels-5.png" alt="">
          </div>
          <div class="text wow fadeInRight">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
        </li>
        <li class="panel-item">
          <div class="text wow fadeInLeft">
            <div class="title">
              Lorem ipsum dolor sit amet consectetur.
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sapiente possimus minima non neque libero
              distinctio reiciendis voluptates accusamus placeat quia similique fuga quasi saepe rerum error quas, enim
              facilis?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae libero iste, accusamus cupiditate
              asperiores veniam voluptates quas dicta ipsum reprehenderit. Sequi, consectetur id qui aperiam deleniti
              quia repellendus suscipit!
            </p>
          </div>
          <div class="img  wow fadeInRight">
            <img src="/public/img/panels/panels-6.png" alt="">
          </div>

        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>