/* @font-face{
    font-family: '字体名称随便起'; 
    src: url('../font/字体名称.eot');
    src:url('../font/字体名称.woff') format('woff'),
        url('../font/字体名称.ttf') format('truetype'),
        url('../font/字体名称.svg') format('svg');
} */
/* DIN系列 */
@font-face {
    font-family: 'din-r';
    src: url('/public/fonts/din-regular.eot');
    src: url('/public/fonts/din-regular.woff') format('woff'),
        url('/public/fonts/din-regular.ttf') format('truetype'),
        url('/public/fonts/din-regular.svg') format('svg');
}

@font-face {
    font-family: 'din-m';
    src: url('/public/fonts/din-medium.eot');
    src: url('/public/fonts/din-medium.woff') format('woff'),
        url('/public/fonts/din-medium.ttf') format('truetype'),
        url('/public/fonts/din-medium.svg') format('svg');
}

@font-face {
    font-family: 'din-l';
    src: url('/public/fonts/din-light.eot');
    src: url('/public/fonts/din-light.woff') format('woff'),
        url('/public/fonts/din-light.ttf') format('truetype'),
        url('/public/fonts/din-light.svg') format('svg');
}

@font-face {
    font-family: 'din-b';
    src: url('/public/fonts/din-bold.eot');
    src: url('/public/fonts/din-bold.woff') format('woff'),
        url('/public/fonts/din-bold.ttf') format('truetype'),
        url('/public/fonts/din-bold.svg') format('svg');
}

/* Arimo系列 */
@font-face {
    font-family: 'arimo-r';
    src: url('/public/fonts/arimo-regular.eot');
    src: url('/public/fonts/arimo-regular.woff') format('woff'),
        url('/public/fonts/arimo-regular.ttf') format('truetype'),
        url('/public/fonts/arimo-regular.svg') format('svg');
}

@font-face {
    font-family: 'arimo-m';
    src: url('/public/fonts/arimo-medium.eot');
    src: url('/public/fonts/arimo-medium.woff') format('woff'),
        url('/public/fonts/arimo-medium.ttf') format('truetype'),
        url('/public/fonts/arimo-medium.svg') format('svg');
}

@font-face {
    font-family: 'arimo-sb';
    src: url('/public/fonts/arimo-semibold.eot');
    src: url('/public/fonts/arimo-semibold.woff') format('woff'),
        url('/public/fonts/arimo-semibold.ttf') format('truetype'),
        url('/public/fonts/arimo-semibold.svg') format('svg');
}

@font-face {
    font-family: 'arimo-b';
    src: url('/public/fonts/arimo-bold.eot');
    src: url('/public/fonts/arimo-bold.woff') format('woff'),
        url('/public/fonts/arimo-bold.ttf') format('truetype'),
        url('/public/fonts/arimo-bold.svg') format('svg');
}

@font-face {
    font-family: 'sans-l';
    src: url('/public/fonts/opensans-light.eot');
    src: url('/public/fonts/opensans-light.woff') format('woff'),
        url('/public/fonts/opensans-light.ttf') format('truetype'),
        url('/public/fonts/opensans-light.svg') format('svg');
}

@font-face {
    font-family: 'sans-r';
    src: url('/public/fonts/opensans-regular.eot');
    src: url('/public/fonts/opensans-regular.woff') format('woff'),
        url('/public/fonts/opensans-regular.ttf') format('truetype'),
        url('/public/fonts/opensans-regular.svg') format('svg');
}

@font-face {
    font-family: 'sans-m';
    src: url('/public/fonts/opensans-medium.eot');
    src: url('/public/fonts/opensans-medium.woff') format('woff'),
        url('/public/fonts/opensans-medium.ttf') format('truetype'),
        url('/public/fonts/opensans-medium.svg') format('svg');
}

@font-face {
    font-family: 'sans-b';
    src: url('/public/fonts/opensans-bold.eot');
    src: url('/public/fonts/opensans-bold.woff') format('woff'),
        url('/public/fonts/opensans-bold.ttf') format('truetype'),
        url('/public/fonts/opensans-bold.svg') format('svg');
}

@font-face {
    font-family: 'sans-sb';
    src: url('/public/fonts/opensans-semibold.eot');
    src: url('/public/fonts/opensans-semibold.woff') format('woff'),
        url('/public/fonts/opensans-semibold.ttf') format('truetype'),
        url('/public/fonts/opensans-semibold.svg') format('svg');
}
html{
    font-size: 10px;
}
button,input{
    font-family: ff-good-headline-web-pro-con, sans-serif;
}
body {
    /* font-family: "sans-r"; */
    font-family: ff-good-headline-web-pro-con, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.din-r {
    font-family: "din-r";
}

.din-m {
    font-family: "din-m";
}

.din-l {
    font-family: "din-l";
}

.din-b {
    font-family: "din-b";
}

.sans-l {
    font-family: "sans-l";
}

.sans-r {
    font-family: "sans-r";
}

.sans-m {
    font-family: "sans-m";
}

.sans-b {
    font-family: "sans-b";
}

.sans-sb {
    font-family: "sans-sb";
}