<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <div id="app">
      <section class="banner-container" style="background-image: url(/public/img/faq.png);">
        <div class="title">Frequently Asked Question</div>
      </section>
      <section class="faq-container center">
        <ul class="faq-list">
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
          <li class="faq-item">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
              <i class="iconfont"></i>
            </div>
            <dl class="faq-sublist">
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
              <dd class="faq-subitem">
                <div class="sub-title">
                  <span>Lorem ipsum dolor sit amet.</span>
                  <i class="iconfont icon-xialajiantouxiao"></i>
                </div>
                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam eaque, fuga
                  debitis omnis, facilis porro perferendis excepturi soluta nihil recusandae odio, illum nulla vero sit
                  autem dolorem voluptate delectus?</div>
              </dd>
            </dl>
          </li>
        </ul>
      </section>
    </div>

    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>